@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* =========== NAVBAR ============ */

.first_header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 35px;
    background: rgb(6, 66, 6);
}

.first-header_icons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    width: 70%;
    margin: auto;
    font-size: 25px;
    cursor: pointer;
}

.icons{
    color: #fff;
}

.nav-bar-container{
    width: 70%;
    margin: auto;
}

header{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.nav-list{
    display: flex;
    gap: 3rem;
}

.logo{
    color: rgb(19, 19, 19);
    font-size: 1.8rem;
    cursor: pointer;
    font-weight: 500;
}

.logo span{
    color: rgb(14, 184, 14);
}

a{
    text-decoration: none;
    color: rgb(19, 19, 19);
}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 400;
}

.icons-right{
    display: flex;
    gap: 15px;
}

.icons-right .icon{
    display: flex;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.cart-circle{
    position: absolute;
    margin-left: 67px;
    margin-top: 3px; 
}

.cart-circle span{
    background: rgb(9, 145, 9);
    border-radius: 50%;
    padding: 2px 8px;
    color: #FFF;
}

.menu-burger{
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

/* ========== AFTER NAVBAR E MEDIA QUERIES ========== */

@media(max-width: 1200px){
    .nav-list{
        display: none;
    }

    .menu-burger{
        font-size: 2.5rem;
        cursor: pointer;
        display: block;
    }
}

@media(max-width: 850px){
    .search-icon{
        display: none;
    }

    .title-home_page{
        line-height: 30px;
    }

    .title-home_page h1{
        font-size: 1.3rem;
    }

    .title-home_page span{
        font-size: 1.3rem;
    }
}

@media(max-width: 600px){
    .logo{
        font-size: 1.5rem;
        line-height: 20px;
    }
}

@media(max-width: 1120px){
    .main-products-home_page{
        display: flex;
        flex-direction: column;
    }
}

/* =============================================== */

/* ================ INPUT AREA =================== */

.inpt-search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.inpt-search input{
    width: 545px;
    height: 50px;
    border-radius: 10px 0 0 0;
    outline: none;
    padding: 0px 15px;
    border: 2px solid #3333;
    padding: 0px 45px;
}

::-webkit-input-placeholder{
    font-family: 'Poppins', sans-serif;
}

.search-icon{
    position: absolute;
    margin-right: 510px;
    font-size: 1.5rem;
    color: #3339;
    cursor: pointer;
}

/* ============================================== */

/* ================ BANNER AREA ================= */

.banner-section{
   width: 100%;
}

.banner-section img{
    width: 100%;
    margin-top: 50px;
}

/* ============================================== */

.content-home_page{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 70px;
    line-height: 50px;
}

.title-home_page{
    color: #333;
    text-align: center;
    font-size: 1.3rem;
}

.title-home_page span{
    color: rgb(0, 240, 0);
}

.know_more-btn{
    width: 250px;
    height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    border: transparent;
    border-radius: 10px 0px 0px 0px;
    margin-top: 50px;
    cursor: pointer;
    transition: .5s;
    background: rgb(6, 66, 6);
    color: #FFF;
}

.know_more-btn:hover{
    color: #fff;
    border: transparent;
    background: rgb(9, 145, 9);
}

.main-products{
    text-align: center;
    margin-top: 100px;
    font-size: 2rem;
    color: rgb(54, 54, 54);
}

.line{
    width: 1100px;
    height: 1px;
    margin-top: 20px;
    background: #ccc;
}
    
.main-products-home_page{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 45px;
}

.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products h3{
    text-align: center;
    padding-top: 10px;
    color: rgb(46, 46, 46);
    font-weight: 500;
}

.price-texts{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    line-height: 10px;
}

.products p{
    margin-top: 10px;
    color: #333;
    font-size: .9rem;
}

.products span{
    font-weight: 600;
    font-size: 1rem;
}

.price-texts .parcelas{
    font-size: .8rem;
}

.products img{
    width: 300px;
    border: 3px solid rgb(226, 226, 226);
    border-radius: 8px;
    padding: 50px 0px;
    box-shadow: 0px 0px 10px 0px rgb(221, 221, 221);
    cursor: pointer;
}

.btn-prods-main-page{
    text-align: center;
    margin-top: 15px;
    height: 40px;
    width: 200px;
    border-radius: 10px 0 0 0;
    cursor: pointer;
    outline: none;
    border: transparent;
    background: rgb(6, 66, 6);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    transition: .5s;
}

.btn-prods-main-page:hover{
    color: #FFF;
    border: transparent;
    background: rgb(9, 145, 9);
}


/* ============ FOOTER ============= */

footer{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.footer-area{
    margin-top: 100px;
    display: flex;
    width: 100%;
    height: 350px;
    background: rgb(228, 228, 228);
}

.first-footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.first-footer h1{
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    color: rgb(14, 14, 14);
    padding: 15px 0;
}

.footer-icons{
    display: flex;
    gap: 15px;
}

.footer-icons .icon{
    font-size: 2rem;
    color: #fff;
    background: rgb(6, 66, 6);
    border-radius: 50%;
    padding: 10px 10px;
}

.last-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

/* ============ LOGIN PAGE ============ */

.container-login-page{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.login-form{
    width: 700px;
    height: 700px;
    border: 1px solid rgb(218, 218, 218);
    margin-top: 90px;
}

.login-form h1{
    margin-top: 15px;
    text-align: center;
    color: rgb(14, 184, 14);
    font-size: 1.8rem;
}

.login-form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.login-form input{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    padding: 0px 16px;
}

.login-btn{
    width: 500px;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    background: rgb(9, 145, 9);
    color: #FFF;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: transparent;
    margin-top: 40px;
    transition: .5s;
}

.login-btn:hover{
    background: rgb(14, 184, 14);
}

.forgot-password-login{
    display: flex;
    column-gap: 40px;
    padding: 15px 0;
}

.forgot-password-login a{
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 500;
    color: rgb(129, 129, 129);
}

.divisor{
    width: 70%;
    height: 2px;
    background: rgb(199, 199, 199);
    margin-top: 10px;
}

.access-social-medias{
    margin-top: 40px;
}

.access-social-medias h2{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(119, 119, 119);
}

.icons-access{
    display: flex;
    column-gap: 10px;
    margin-top: 30px;
}

.icons-access .icon{
    font-size: 2.3rem;
    cursor: pointer;
    color: #2f6aeb;
    margin-left: 10px;
}

.facebook{
    display: flex;
    align-items: center;
    width: 230px;
    height: 50px;
    border: 1px solid #2f6aeb;
    border-radius: 5px;
    cursor: pointer;
    color: #2f6aeb;
}

.facebook span{
    font-weight: 600;
}

.icons-access .icon-google{
    color: rgb(14, 184, 14);
}

.google{
    display: flex;
    align-items: center;
    width: 230px;
    height: 50px;
    border: 1px solid rgb(14, 184, 14);
    border-radius: 5px;
    color: rgb(14, 184, 14);
    cursor: pointer;
}

.google span{
    font-weight: 600;
}

.register-form{
    width: 700px;
    height: 700px;
    border: 1px solid rgb(218, 218, 218);
    margin-top: 90px;
}

.register-form h1{
    margin-top: 15px;
    text-align: center;
    color: rgb(14, 184, 14);
    font-size: 1.8rem;
}

.register-form form{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.register-form input{
    width: 500px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    padding: 0px 16px;
}

.register-btn{
    width: 500px;
    border-radius: 5px;
    height: 50px;
    cursor: pointer;
    background: transparent;
    color: #000;
    font-size: 1.3rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    border: 1px solid #333;
    margin-top: 40px;
    transition: .5s;
}

.register-btn:hover{
    background: rgb(9, 145, 9);
    border: transparent;
    color: #FFF;
}

@media(max-width: 1700px){
    .container-login-page{
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }
}

@media(max-width: 765px){
    .container-login-page{
        width: 70%;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 40px;
    }

    .login-form{
        width: 550px;
        height: 700px;
        border: 1px solid rgb(218, 218, 218);
        margin-top: 90px;
    }

    .register-form{
        width: 550px;
        height: 700px;
        border: 1px solid rgb(218, 218, 218);
        margin-top: 90px;
    }
}

@media (max-width: 590px){

    .login-form{
        width: 300px;
        height: 730px;
        border: 1px solid rgb(218, 218, 218);
        margin-top: 90px;
    }

    .register-form{
        width: 550px;
        height: 700px;
        border: 1px solid rgb(218, 218, 218);
        margin-top: 90px;
    }

    .login-form input{
        width: 270px;
        height: 50px;
        border-radius: 5px;
        outline: none;
        padding: 0px 16px;
    }

    .login-btn{
        width: 270px;
        border-radius: 5px;
        height: 50px;
        cursor: pointer;
        background: rgb(9, 145, 9);
        color: #FFF;
        font-size: 1.3rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        border: transparent;
        margin-top: 40px;
        transition: .5s;
    }
    
    .login-btn:hover{
        background: rgb(14, 184, 14);
    }

    .forgot-password-login{
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 15px 0;
    }
    
    .forgot-password-login a{
        text-transform: uppercase;
        text-decoration: underline;
        font-weight: 500;
        color: rgb(129, 129, 129);
        text-align: center;
        font-size: .9rem;
    }

    .access-social-medias{
        margin-top: 10px;
    }

    .access-social-medias h2{
        display: none;
    }

    .icons-access{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        margin-top: 30px;
    }

    .register-form{
        width: 300px;
        height: 700px;
        border: 1px solid rgb(218, 218, 218);
        margin-top: 90px;
    }

    .register-form input{
        width: 270px;
        height: 50px;
        border-radius: 5px;
        outline: none;
        padding: 0px 16px;
    }

    .register-btn{
        width: 270px;
        border-radius: 5px;
        height: 50px;
        cursor: pointer;
        background: transparent;
        color: #000;
        font-size: 1.3rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        border: 1px solid #333;
        margin-top: 40px;
        transition: .5s;
    }
    
    .register-btn:hover{
        background: rgb(9, 145, 9);
        border: transparent;
        color: #FFF;
    }
} 