@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}

/* =========== NAVBAR ============ */

.nav-bar-container{
    width: 70%;
    margin: auto;
}

header{
    display: flex;
    padding: 20px 15px;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

.nav-list{
    display: flex;
    gap: 3rem;
}

.logo{
    color: rgb(19, 19, 19);
    font-size: 1.8rem;
    cursor: pointer;
}

.logo span{
    color: rgb(0, 240, 0);
}

a{
    text-decoration: none;
    color: rgb(19, 19, 19);
}

.nav-links{
    display: flex;
    align-items: center;
    list-style: none;
    font-weight: 400;
}

.icons-right{
    display: flex;
    gap: 15px;
}

.icon{
    display: flex;
    align-items: center;
    font-size: 25px;
    cursor: pointer;
}

.menu-burger{
    font-size: 2.5rem;
    cursor: pointer;
    display: none;
}

/* ========== EFEITO HOVER, AFTER NAVBAR E MEDIA QUERIES ========== */

.nav-list li a::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(19, 19, 19);
    display: block;
    transition: 0.8s;
    border-radius: 10px;
}

.nav-list li a:hover::after{
    width: 100%;
}

@media(max-width: 1200px){
    .nav-list{
        display: none;
    }

    .menu-burger{
        font-size: 2.5rem;
        cursor: pointer;
        display: block;
    }
}

@media(max-width: 850px){
    .search-icon{
        display: none;
    }
}

@media(max-width: 600px){
    .logo{
        font-size: 1.5rem;
        line-height: 20px;
    }
}

@media(max-width: 1120px){
    .main-products-home_page{
        display: flex;
        flex-direction: column;
    }
}

/* =============================================== */

/* ================ INPUT AREA =================== */

.inpt-search{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 15px;
}

.inpt-search input{
    width: 545px;
    height: 50px;
    border-radius: 10px 0 0 0;
    outline: none;
    padding: 0px 15px;
    border: 2px solid #3333;
    padding: 0px 45px;
}

::-webkit-input-placeholder{
    font-family: 'Poppins', sans-serif;
}

.search-icon{
    position: absolute;
    margin-right: 510px;
    font-size: 1.5rem;
    color: #3339;
    cursor: pointer;
}

/* ============================================== */

/* ================ BANNER AREA ================= */

.banner-section{
   width: 100%;
}

.banner-section img{
    width: 100%;
    margin-top: 50px;
}

/* ============================================== */

.content-home_page{
    width: 70%;
    margin: auto;
    margin-top: 70px;
    line-height: 60px;
}

.title-home_page{
    color: #333;
    text-align: center;
    font-size: 2rem;
}

.title-home_page span{
    color: rgb(0, 240, 0);
}

.main-products{
    text-align: center;
    margin-top: 100px;
}

.main-products-home_page{
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 45px;
}

.products{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.products h3{
    text-align: center;
    padding-top: 10px;
}

.products img{
    width: 300px;
    border: 3px solid rgb(226, 226, 226);
    border-radius: 8px;
    padding: 50px 0px;
    box-shadow: 0px 0px 10px 0px rgb(199, 199, 199);
}
    

.products h3{
    color: rgb(46, 46, 46);
    font-weight: 500;
}

.btn-prods-main-page{
    text-align: center;
    margin-top: 15px;
    height: 40px;
    width: 200px;
    border-radius: 10px 0 0 0;
    cursor: pointer;
    outline: none;
    border: transparent;
    background: rgb(6, 66, 6);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: .8rem;
    transition: .5s;
}

.btn-prods-main-page:hover{
    color: #333;
    border: 2px solid rgb(206, 206, 206);
    background: #fff;
}